@import "tailwindcss";
:root{
 --primary-font: "Outfit", serif;
 --secondary-font: "Orbitron", serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero{
  background-image: url('./assets/hero-bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
}
.overlay{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
