@import "tailwindcss";

@layer base {
  *, *::before, *::after {
      box-sizing: border-box;
  }

  * {
      margin: 0;
      padding: 0;
  }

  html {
      font-family: "outfit", sans-serif;
      color: #333;
  }
}
:root{
 --primary-font: "Outfit", serif;
 --secondary-font: "Orbitron", serif;
}
.hero{
  background-image: url('./assets/hero-bg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
}
.overlay{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.what-we-do-banner{
  background-image: url("./assets/banner-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer {
  background-image: url("./assets/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top;
  font-family: 'Orbitron', sans-serif;
}